@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;


}

.grident {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #22c55e var(--tw-gradient-to-position);
    background-clip: text;
    color: transparent;
}

.gradient-background {
    background: linear-gradient(103.72deg, #009DDA 0%, #62BA47 97.95%);
}

body {
    @apply font-signika;
}




  
  


  
